[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/Octopress"]
	path = themes/Octopress
	url = https://github.com/parsiya/Hugo-Octopress.git
