[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/Octopress"]
	path = themes/Octopress
	url = https://github.com/parsiya/Hugo-Octopress.git
[submodule "public"]
	path = public
	url = git@github.com:felipefinhane/felipefinhane.github.io.git
	branch = master
